*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-sec{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 100vh;
}
.section{
    width: 550px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header .title{
    font-size: 45px;
    font-weight: 700;
    color: #3c009d;
}
.header .underline{
    width: 100px;
    height: 4px;
    border-radius: 50px;
    margin-top: 5px;
    background-color: rgb(82, 152, 209);
    margin-bottom: 50px;

}

.inputs .input{
    background-color: #b8b5b5;
    width: 450px;
    height: 60px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.input i{
    color:#283333;
    font-weight: 800;
    font-size: 19px;
    margin-left: 10px;
}
.input input{
    width: 400px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 20px;
    font-size: 19px;
}
input::placeholder{
    color: #283333;
}
.btn{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn .submit{
    width: 160px;
    height: 50px;
    margin: 23px 15px;
    background-color: #4c00b4;
    border-radius: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.gray{
    background-color: #a6a6a6;
    color: #4f4d4d;
    width: 160px;
    height: 50px;
    margin: 23px 15px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.forgot{
    font-size: 15px;
    font-weight: 500;
    color: #615e5e;
    margin-left: 10px;
}
.forgot span{
    color: #3c009d;
    margin-left: 7px;
    font-weight: 700;
    cursor: pointer;
}
@media(max-width:425px){
    .main-sec{
        margin-top: 29px;
    }
    .section{
        width: 390px;
    }
    .header .title{
        font-size: 35px;
       
    }
    .header .underline{
        width: 50px;
    }
    .inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .inputs .input{
        width: 342px;
        height: 60px;
        margin-bottom: 25px;
      
    }
    .btn{
        width: 350px;
       
    }
    .btn .submit{
        width: 130px;
        height: 40px;
        font-size: 16px;
    }
    .gray{
        width: 130px;
        height: 40px;
        font-size: 16px;
    }
}
@media(max-width:375px){
    
    .section{
        width: 350px;
    }
   
    .inputs .input{
        width: 325px;
        height: 60px;
        margin-bottom: 20px;
      
    }
    
}